<nav role="navigation">
  <div class="nav-bar">
    <div class="module left">
      <div class="module">
        <%= image_tag("100statelogo.png") %>
      </div>
    </div>
    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      <i class="ti-menu"></i>
    </div>
    <div class="module-group right">
      <div class="module left">
        <ul class="menu">
            <li>
              <%= link_to "Login", new_user_session_path, class: 'btn btn-sm form-control' %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>